{% extends 'base.html.twig' %}

{% block body %}
    <p>Toutes les series</p>
    <section class="series-list">
        {% for chaqueSerie in series %}
            <article>
                <a href="{{ path('serie_uneseuleserie', {'id': chaqueSerie.id}) }}">
                    <img
                            src="{{ asset("img/posters/series/" ~ chaqueSerie.poster) }}"
                            alt=""
                            title="{{ chaqueSerie.seasons | length }} saison(s)"
                    >
                </a>
                <p>{{ chaqueSerie.name }}</p>
            </article>
        {% endfor %}
    </section>
{% endblock %}

